---
layout: default
title: Home
isHome: true
pagination: 
  enabled: true
---

<div class="hero">
  <h1>Trevan Hetzel</h1>
  <p>Customer inspired software developer with a passion for building design led experiences at scale. A strong believer that design matters and that complex problems should be solved with simplicity and elegance.</p>

  <!-- <a href="/about" class="button">
    Get to know me more

    <svg xmlns="http://www.w3.org/2000/svg" width="7.563" height="13.379" viewBox="0 0 7.563 13.379" style="margin-left: 12px"><path id="chevron-small-right" d="M12.518,12.089,7.95,7.116a1.011,1.011,0,0,1,0-1.422.99.99,0,0,1,1.409,0l5.569,5.683a1.013,1.013,0,0,1,0,1.424L9.359,18.483a.987.987,0,0,1-1.409,0,1.011,1.011,0,0,1,0-1.422Z" transform="translate(-7.658 -5.4)" fill="#fb4500" /></svg>
  </a> -->

  {% include social-icons.html %}

  <div class="frame">
    <div class="leftBars"></div>
    <img src="./assets/images/trevan-hetzel.jpg" alt="Trevan Hetzel" />
    <div class="rightBars"></div>
  </div>
</div>

<div class="posts">
  <section class="list">
    {% for post in paginator.posts %}
      <article class="item">
        <h2>
          <a href="{{ post.url }}" aria-label="{{ post.title }}">{{ post.title }}</a>
        </h2>

        <p class="date">
          Posted on <strong>{{ post.date | date: "%B %-d, %Y" }}</strong>
        </p>

        <a href="{{ post.url }}" class="button secondary">
          Read article

          <svg xmlns="http://www.w3.org/2000/svg" width="7.563" height="13.379" viewBox="0 0 7.563 13.379" style="margin-left: 12px"><path id="chevron-small-right" d="M12.518,12.089,7.95,7.116a1.011,1.011,0,0,1,0-1.422.99.99,0,0,1,1.409,0l5.569,5.683a1.013,1.013,0,0,1,0,1.424L9.359,18.483a.987.987,0,0,1-1.409,0,1.011,1.011,0,0,1,0-1.422Z" transform="translate(-7.658 -5.4)" fill="#fb4500" /></svg>
        </a>
      </article>
    {% endfor %}
  </section>

  <div class="cta-row">
    <a href="/blog" class="button">
      View Blog

      <svg xmlns="http://www.w3.org/2000/svg" width="7.563" height="13.379" viewBox="0 0 7.563 13.379" style="margin-left: 12px"><path id="chevron-small-right" d="M12.518,12.089,7.95,7.116a1.011,1.011,0,0,1,0-1.422.99.99,0,0,1,1.409,0l5.569,5.683a1.013,1.013,0,0,1,0,1.424L9.359,18.483a.987.987,0,0,1-1.409,0,1.011,1.011,0,0,1,0-1.422Z" transform="translate(-7.658 -5.4)" fill="#fb4500" /></svg>
    </a>
  </div>
</div>