html {
    height: 100%;
    max-height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: 'Lato', sans-serif;
    color: #333332;
    background: #fff;
}

* { box-sizing: border-box; }

.left {
    float: left;
}

.right {
    float: right;
}

h1 {
    font-size: 1.75em;
    margin: 0;
    font-weight: 900;
    color: #18191b;

    a {
        color: #18191b;

        &:hover {
            color: #d43d12;
            text-decoration: none;
        }
    }

    @include breakpoint(med) {
        font-size: 2.75em;
    }
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;

    @include breakpoint(med) {
        font-size: 2em;
    }
}

h3 {
    margin-top: 0;
    font-weight: normal;
}

strong {
    font-weight: 700;
}

a {
    color: #e3ac02;
    text-decoration: none;
    @include transition(color .2s ease-in-out);

    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Droid Serif', serif;

    @include breakpoint(sml) {
        font-size: 1.188em;
        line-height: 1.5em;
    }

    @include breakpoint(med) {
        font-size: 1.375em;
        line-height: 1.75em;
    }
}

blockquote {
    border-left: .688em solid #e9e9e9;
    margin-left: 0;
    padding-left: 1.75em;
    font-size: 1em;
    font-family: 'Lato', sans-serif;

    p {
        line-height: 1.438em;
    }

    @include breakpoint(sml) {
        font-size: 1em;
    }

    @include breakpoint(med) {
        font-size: 1.25em;
    }
}

code {
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
}