.wrap {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.cont {
	position: relative;
	max-width: 85.375em;
	margin: 0 auto;
}

.cont-skinny {
	max-width: 85.375em;
}

.main {
	float: left;
	width: 100%;

	@include breakpoint(med) {
		width: 70%;
	}
}