/* ==========================================================================
   Imports
   ========================================================================== */
@import 'bourbon/bourbon';
@import 'normalize';
@import 'icon-font';
@import 'base';
@import 'utilities';
@import 'general';
@import 'single-post';
@import 'pagination';
@import 'footer';


/* ==========================================================================
   Third Party Elements - Embeds from other services
   ========================================================================== */

/* Github */

.gist table {
    margin: 0;
    font-size: 1.4rem;
}

.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}