.blog-list {
  margin: 80px 0 0;

  article {
    margin: 40px 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #ddd;

    h2 a:hover {
      color: #636e72;
    }

    .date {
      margin: 0 0 10px;
    }
  }
}

.blog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: #636e72;
    margin: 0;
  }

  &.stack {
    flex-direction: column;

    @media (min-width: 820px) {
      flex-direction: row;
    }

    h3 {
      margin: 10px 0 0;

      @media (min-width: 820px) {
        margin: 0;
      }
    }
  }
}