
.button {
	display: inline-block;
	color: #000 !important;
	padding: 14px 15px;
	font-size: 17px;
	font-weight: bold;
	border: 2px solid #000;
	transition: all .15s;
	text-decoration: none !important;
	cursor: pointer;
	background: #fff;

	svg {
		position: relative;
		top: 1px;
	}

	&:hover {
		border-color: #fc4501;
		color: #fc4501 !important;
	}

	@media (min-width: 820px) {
		font-size: 20px;
		padding: 16px 20px;

		svg {
			top: 0;
		}
	}

	&.secondary {
		padding: 0 !important;
		border: none !important;
		color: #fc4501 !important;
	}

	&.alt {
		margin: 0 auto;
		background: #fff !important;
	}
}
