.gallery {
  display: grid;
  grid-gap: 10px;
  margin: 30px 0 0;

  &.one-col {
    width: 100%;

    @media (min-width: 700px) {
      width: 66%;
    }
  }

  &.two-col {
    grid-template-columns: repeat(2, 1fr);
  }

  &.three-col {
    grid-template-columns: repeat(3, 1fr);
  }

  &.multiline {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);

    .gallery-item {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.enlarged-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &.enlarged-2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      &.enlarged-3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
      }

      &.enlarged-4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    @media (min-width: 700px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.gallery-item {
  width: 100%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.gallery-description {
  margin: 0;
  background: #ececec;
  color: #636e72;
  padding: 6px 10px;
  font-size: 15px;
}