.post {
	width: 1300px;
	max-width: 100%;
	margin: 0 auto;
	padding: 40px 30px 80px;

	& > h1 {
		max-width: 1000px;
		margin: 0 auto;
	}

	.centered {
		h1, .date {
			text-align: center;
		}
	}

	.featured-image {
		max-width: 100%;
		height: auto;
		border-radius: 12px;
		margin: 0 auto 40px;
	}
	
	.date {
		margin: 15px auto 40px;
		color: #636e72;
		font-size: 15px;
		max-width: 1000px;
	
		@media (min-width: 820px) {
			font-size: 18px;
		}
	}

	@media (min-width: 820px) {
		padding: 80px 30px;
	}
}

.content {
	word-break: break-word;
	max-width: 1000px;
	margin: 0 auto;

	* {
		max-width: 100%;
	}

	h1 {
		margin: 60px 0 30px;
		font-size: 34px;

		@media (min-width: 600px) {
			font-size: 40px;
		}

		@media (min-width: 820px) {
			font-size: 46px;
		}
	}

	h2 {
		margin: 45px 0 20px;
	}

	img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	figure {
		margin: 24px auto;
		/* next line overrides an inline style of the figure element. */
		width: 100% !important;

		figcaption {
			font-size: 0.7em;
		}
	}

	iframe {
		display: block;
		margin: auto;
	}

	blockquote {
		margin: 30px 0;
		// background-color: rgba(0, 0, 0, 0.1);
		// border-left: 4px solid rgba(12, 17, 43);
		padding: 4px 16px;
	}

	a {
		color: #fc4501;
		text-decoration: underline;
		transform: scale(1);

		&:hover {
			transform: scale(1.05);
		}
	}

	/* Input fields styles */

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	textarea,
	select {
		display: block;
		padding: 6px 12px;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 4px;
		outline-color: transparent;
		transition: outline-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		margin: 8px 0 4px 0;

		&:focus {
			outline-color: #1f38c5;
		}
	}

	input[type="submit"] {
		display: inline-block;
		margin-bottom: 0;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid #1f38c5;
		padding: 12px 36px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px;
		color: #fff;
		background-color: #1f38c5;
	}

	/* WordPress Core Align Classes */

	@media (min-width: 420px) {
		img.aligncenter,
		img.alignleft,
		img.alignright {
			width: auto;
		}

		.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.alignright {
			float: right;
			margin-left: 24px;
		}

		.alignleft {
			float: left;
			margin-right: 24px;
		}
	}
}
