.btn {
	background: #35c06a;
	color: $white;
	margin: 0 auto;
	display: block;
	padding: .5em 1.5em;
	font-size: .938em;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	@include transition(background .3s ease);
	@include border-top-radius(3px);
	@include border-bottom-radius(3px);

	&:hover {
		background: darken(#35c06a, 7%);
		text-decoration: none;
	}

	@include breakpoint(med) {
		padding: 1em 3em;
	}
}