header {
	font-size: 1em;
	font-weight: 300;
	padding: 1.25em;

	@include breakpoint(med) {
		padding: 2em;
	}
}

.header--title {
	font-weight: 700;
	font-size: 1.188em;
	text-transform: uppercase;
	float: left;
	color: $white;
	@include long-shadow(text, #225baf, 200, false, false, left);

	a {
		color: $white;
		@include transition(opacity .3s ease);

		&:hover {
			color: $white;
			opacity: .75;
		}
	}

	@include breakpoint(med) {
		font-size: 1.5em;
	}
}

.header--search {
	display: none;

	background: lighten($primary, 6%);
	border: solid .063em lighten($primary, 6%);
	padding: .75em 2.25em .75em .75em;
	color: $white;
	@include border-top-radius(3px);
	@include border-bottom-radius(3px);
	outline: none;
	@include transition(border .3s ease);

	&:focus {
		border: solid .063em darken($primary, 10%);

		& + .icon-search {
			opacity: 1;
		}
	}

	@include breakpoint(med) {
		position: absolute;
		right: 0;
		top: -.5em;
		width: 15%;
		display: block;
	}
}

.off-canvas--search {
	display: block;
	margin: 2em 2em 0;
}

.icon-search {
	display: none;	
	background: none;
	border: none;
	outline: none;
	opacity: .5;
	position: absolute;
	top: .325em;
	right: .5em;
	font-family: "trevanco";
	content: "\e809";
	color: $white;
	@include transition(opacity .3s ease);

	@include breakpoint(med) {
		display: block;
	}
}

.off-canvas--icon {
	display: block;
	top: 2.75em;
	right: 2em;
}

::-webkit-input-placeholder, {
   color: $white;
}

:-moz-placeholder { /* Firefox 18- */
   color: $white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $white;
}

:-ms-input-placeholder {  
   color: $white;
}

// .header--nav {
// 	list-style: none;
// 	margin: 0;
// 	float: right;
// 	display: none;

// 	@include breakpoint(med) {
// 		display: block;
// 	}
// }

// .header--nav_item {
// 	display: inline;
// 	font-size: .833em;
// 	line-height: 2em;

// 	a {
// 		color: $white;
// 		display: inline-block;
// 		padding: .25em .5em;
// 		margin: 0 1em;
// 		font-weight: 400;
// 		text-transform: uppercase;
// 		@include transition(color .2s ease);



// 		&:hover {
//             text-decoration: none;
//             color: $secondary;
//         }
// 	}

// 	&:last-child a {
// 		margin-right: 0;
// 		padding-right: 0;
// 	}
// }