/* ==========================================================================
  Media queries
========================================================================== */

@mixin breakpoint($size) {
  @if $size == xlrg {
    @media (min-width: 84em) { @content; } // 1344px
  }
  @else if $size == large {
    @media (min-width: 64em) { @content; } // 1024px
  }
  @else if $size == medium {
    @media (min-width: 60em) { @content; } // 768px
  }
  @else if $size == small {
    @media (min-width: 46em)  { @content; } // 480px
  }
  @else if $size == xs {
    @media (min-width: 30em)  { @content; } // 480px
  }
}

/* ==========================================================================
  Px to rem
========================================================================== */

@mixin font-size($pxSize: 1) {
  font-size: $pxSize + px;
  font-size: ($pxSize / 16) + rem;
}

/* ==========================================================================
  Clearfix
========================================================================== */

@mixin clearfix {
  &:after,
  &:before {
    display: table;
    clear: both;
    content: "";
  }
}

/* ==========================================================================
  Long shadow
========================================================================== */

@mixin long-shadow($color, $length) {
  $shadow: '';

  @for $i from 0 to $length - 1 {
    $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
  }

  $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);

  $shadow: unquote($shadow);
  
  text-shadow: $shadow;
}
