.about .cont {
	padding: 2em;
	text-align: center;

	@include breakpoint(med) {
		padding: 2em;
	}

	@include breakpoint(lrg) {
		padding: 4em;
	}
}

.footer {
	padding: 1em;
	color: $white;
	text-align: center;

	@include breakpoint(med) {
		padding: 2em;
	}
}

.footer--p {
	margin: 0;
	padding: 0;
	font-family: $secondary-font;
	font-size: .938em;

	 @include breakpoint(med) {
    	font-size: 1em;
    }
}