.header {
  position: relative;
  z-index: 2;
  padding: 1.25em 0;
  background: $primary;
  overflow: hidden;

  @include breakpoint(medium) {
    padding: 2em 0;
  }
}

.header__inner {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1.5em;

  @include breakpoint(medium) {
    padding: 0 2.5em;
  }
}

.header__title {
  position: relative;
  float: left;
  font-weight: 700;
  @include font-size(19);
  text-transform: uppercase;
  color: $white;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 90px;
    background: $secondary;
    transform: skew(-45deg);
  }

  &::before {
    top: 21px;
    left: -41px;
    width: 98%;
  }

  &::after {
    top: 6px;
    left: -44px;
    width: 95%;
  }

  a {
    position: relative;
    z-index: 2;
    color: $white;
    transition: color .3s;
    outline: none;

    &:hover {
      color: rgba(255, 255, 255, .75);
    }
  }

  @include breakpoint(medium) {
    @include font-size(24);
  }
}

.header__nav {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  text-align: center;
  margin: 1em 0 0;
  padding: 0;
  list-style: none;
  line-height: 1;

  @include breakpoint(33.125em) {
    display: block;
    float: right;
    width: auto;
    margin: 0;
    text-align: left;
  }
}

.header__nav__item {
  display: inline;
  @include font-size(16);
  font-family: sans-serif;
  line-height: 1.6;

  .wf-active & {
    font-family: $secondary-font;
  }

  &:last-child a {
    margin-right: 0;
  }

  a {
    display: inline-block;
    padding: 0 .5em;
    color: $white;
    transition: background .2s ease;
    outline: none;
    border-radius: 3px;

    &:hover {
      text-decoration: none;
      background: $secondary;
    }
  }

  @include breakpoint(33.125em) {
    a {
      margin: 0 .5em;
    }
  }

  @include breakpoint(medium) {
    @include font-size(18);

    a {
      margin: 0 1em;
    }
  }
}

// Hamburger icon
// .header__hamburger {
//   display: block;
//   position: absolute;
//   top: 50%;
//   right: 1.25em;
//   transform: translateY(-50%);
//   width: 1.825em;
//   height: 2em;

//   span {
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     width: 100%;
//     height: 4px;
//     background: $white;
//     border-radius: 1px;

//     &::before,
//     &::after {
//       position: absolute;
//       left: 0;
//       content: "";
//       width: 100%;
//       height: 4px;
//       background: $white;
//       border-radius: 1px;
//     }

//     &::before {
//       top: -10px;
//     }

//     &::after {
//       bottom: -10px;
//     }
//   }

//   @include breakpoint(small) {
//     display: none;
//   }
// }


// Search icon
.header__search {
  position: absolute;
  top: 1.375em;
  right: 1.25em;
  float: right;
  transition: opacity .2s;

  &:hover {
    opacity: .5;
  }

  @include breakpoint(33.125em) {
    position: static;
    margin: .125em 0 0 1.5em;
  }

  @include breakpoint(medium) {
    margin: .25em 0 0 2.5em;
  }
}
