<p>Trevan Hetzel is a front-end web developer, designer and startup enthusiast. He’s currently pushing the boundaries of CSS and JavaScript as a front-end software engineer at <a href="https://getflywheel.com" data-bypass>Flywheel</a> in Omaha, NE. Previously, Trevan has worked for appendTo, where he had the pleasure of working on and leading several large responsive redesign projects for clients like Zumba Fitness and Celebrity Cruises.</p>

<p>Trevan also ran a small client services agency called <a href="http://hetzelcreative.com" data-bypass>Hetzel Creative</a>, and still freelances actively under that brand. He also co-hosts the <a href="http://word-break.com" data-bypass>Word-Break Show</a>, a podcast that rants and raves about front-end design and development.</p>

<p>Trevan currently lives in Glenwood, IA and enjoys spending time with his wife and two boys. Outside of work, he reads a lot (like, <a href="https://www.goodreads.com/trevanhetzel" data-bypass>a book a week</a>), rides dirt bikes occasionally (he used to <a href="http://hetzelracing.com/" data-bypass>race professionally</a>) and is learning to be a handy man (“learning” being the operative word here).</p>

<h2>Favorite languages &amp; technologies</h2>

<p>CSS, JavaScript, Backbone, jQuery, WordPress, PHP, Ruby on Rails</p>

<h2>Talks</h2>

<ul>
  <li><a href="https://speakerdeck.com/trevan/super-fast-wordpress-themes-wordcamp-omaha-2015" data-bypass>Super Fast WordPress Themes: WordCamp Omaha, 2015</a></li>
  <li><a href="https://www.youtube.com/watch?v=46kbvyLn-N8" data-bypass>Front-end Performance: NebraskaJS, 2015</a></li>
  <li><a href="https://speakerdeck.com/trevan/super-fast-wordpress-themes-wordcamp-maine-2015" data-bypass>Super Fast WordPress Themes: WordCamp Minneapolis, 2015</a></li>
  <li><a href="http://wordpress.tv/2015/05/25/trevan-hetzel-super-fast-wordpress-themes/" data-bypass>Super Fast WordPress Themes: WordCamp Minneapolis, 2015</a></li>
</ul>

<p><em>Interested in having Trevan speak at your event or meetup? Email trevan at hetzelcreative.com</em></p>

<h2>Links</h2>

<p><a href="http://twitter.com/trevanhetzel" data-bypass>Twitter</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
<a href="http://www.linkedin.com/pub/trevan-hetzel/27/355/36/" data-bypass>LinkedIn</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
<a href="http://github.com/trevanhetzel" data-bypass>GitHub</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
<a href="https://dribbble.com/TrevanHetzel" data-bypass>Dribbble</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
<a href="https://speakerdeck.com/trevan" data-bypass>SpeakerDeck</a></p>
