---
layout: default
---

<div class="post">  
  {% if page.featured_image %}
    <div class="centered">
  {% endif %}
  <h1>{{ page.title }}</h1>
  <p class="date">
    Posted on {{ page.date | date: "%B %-d, %Y" }} in
    {% for category in page.categories %}
      <a href="/topics/{{category}}">{{ category }}</a>
    {% endfor %}
  </p>
  {% if page.featured_image %}
    </div>

    <img src="{{page.featured_image}}" class="featured-image" />
  {% endif %}

  <div class="content">
    {{ content }}
  </div>
</div>